<div style="padding-left: 20px;padding-top: 20px;">
<span>Select a Batch: </span>

<%= select_tag "batch", options_from_collection_for_select(@batches, "id", "full_name"), include_blank: true  %>
<br>

<div id="students"> </div>

</div>
<script type="text/javascript">
    
  $(document).ready(function(){

   $('#batch').change(function(){ 

    $.get("/list_students_by_course/" + this.value, function(mydata){
      $('#students').html(mydata); 
    }); 
    return false; 
      
   });
  });
</script>