<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @timetable.start_date %>
</p>

<%= link_to 'Edit', edit_timetable_path(@timetable) %> |
<%= link_to 'Back', timetables_path %>
