$("#grading-level-<%= @grading_level.id %>").hide();
<% text = "<p class='alert alert-warning'>#{t('flash_msg28')}<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button></p>".html_safe %>
$("#flash_box").html("<%= escape_javascript text %>")
