<div class="label-field-pair">
  <label for="student_course">
    <%= t('select_a_course') %>
    :
  </label>
  <div class="text-input-bg">
    <%= select :ranking_level_report, :course_id, @courses.map {|b| [b.full_name, b.id]}, {:prompt => t('select_a_course')}, {:onChange => "onChangeRequest(this, '#{url_for(action: :select_batch_group, course_id: 'paramid')}')"} %>
  </div>
</div>
<div id="batch_groups"></div>
