
      <tr>
        <td><%= @attendance.attendance_date %></td>
        <td><%= link_to 'Show', @attendance %></td>
        <td><%= link_to 'Edit', edit_attendance_path(@attendance) %></td>
        <td><%= link_to 'Destroy', @attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
