
<div id="inner-tab-menu">
  <ul>
      <li><%#= link_to_remote "#{t('create_particulars')}", :url => { :action => 'fees_particulars_new2',:category_id=>params[:id]} %></li>
  </ul>
</div>
<div id="page-yield">
  <div id="flash_box"></div>

  <div id="message"></div>

  <div class="box">

  <div id="modal-box" style="display:none;"></div>
  <%= @a %>

  <div id="categories"><%= render :partial => "master_particulars_list" %></div>
</div>
  </div>
