

    <div id="navbar" class="navbar navbar-default">
      <script type="text/javascript">
        try{ace.settings.check('navbar' , 'fixed')}catch(e){}
      </script>

      <div class="navbar-container" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
          <span class="sr-only">Toggle sidebar</span>

          <span class="icon-bar"></span>

          <span class="icon-bar"></span>

          <span class="icon-bar"></span>
        </button>

        <div class="navbar-header pull-left">
          <a href="#" class="navbar-brand">
            <small>
              <i class="fa fa-leaf"></i>
              Al-Fajr International School
            </small>
          </a>
        </div>

        <div class="navbar-buttons navbar-header pull-right" role="navigation">
          <ul class="nav ace-nav">
<!--             <li class="green">
              <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <i class ="ace-icon fa fa-user"></i>

                  Admin
              </a>
            </li> -->
            <% if @current_user %>
            <li class="light-blue">
              <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <i class ="ace-icon fa fa-user"></i>

                  <%#= @current_user.name %>



                <i class="ace-icon fa fa-caret-down"></i>
              </a>

              <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

                <li>
                  <a href="<%#= user_path(current_user) %>">
                    <i class="ace-icon fa fa-user"></i>
                    Profile
                  </a>
                </li>

                <li class="divider"></li>

                <li>
                  <%#= link_to '<i class="ace-icon fa fa-power-off"></i> Logout'.html_safe, destroy_user_session_path, :method=>'delete' %>
                </li>
              </ul>
            </li>
            <% end %>
          </ul>
        </div>
      </div><!-- /.navbar-container -->
    </div>
